/*.l {color:white; background-color:black;}
h1 { border: 1px black solid; } 
.headlinehighlight ,.headlinehighlight ,.highlightBox { border: 1px black solid; }
.headlinehighlight h1 {border:none;}
.icapsl, .icapml, .icapll {border: 1px black solid; }
.icapsr, .icapmr, .icaplr {border: 1px black solid; }
.n .selected { border: 1px black solid; }
.n ul li .selected {border: 1px black solid; }
.n ul.az li, .n ul.listhighlight li {border: 1px black solid; }
ul.listql {border: 1px black solid; }
.highlight {border: 1px black solid;}*/

