p, ul, dl {color : #000;}
/*#accesskeys, #accesskeys li a, #accesskeys li a:hover {color:#3D626D;}*/
#accesskeys li a:active, #accesskeys li a:focus {color:#FFF; background-color:#3D626D;}
#footer {border-top-color:#378CA8; background-color:#FFF}
#footer, #footer ul li.first, #footer a:hover, #footer a {color:#000;}
#footer li {border-color: #378CA8;} 
#lifelines100 {border-color: #9BC5D3;}
#subnav100 {background-color: #378CA8;}
#title770 {background: url(../images/2005furniture/bluegreen/hse-bicubic.gif) transparent 17px 0.5em no-repeat; background-color:#3D626D;}

.n ul * {color : #000; }
acronym {border-bottom-color:#3D626D;}
a:hover, a:active, a:focus {color : #3D626D}
body {background-color : #FFF;}
fieldset {border-color :#EBF3F6;}
h1 {background-color: #EBF3F6; color : #3D626D;}
h2, h2 a, h2 label, .n h2 label {color : #3D626D;}
h2 a:hover, h2 a:active, h2 a:focus {color: #222; }
h3, legend {color : #222;}
hr {border-top-color : #378CA8;border-bottom-color : inherit;}
ul li {background-image: url(../images/2005furniture/bluegreen/circle.gif); }
.box {background-color:#FFF; border-color:#3D626D;}
.ddm input, .l #sa {background-color:#3D626D; border-color:#378CA8; color:#FFF;}
.exec {display:inherit}
.comm {display:none}
.formpretty input, .formpretty select, .formpretty textarea { border-color:#3D626D; }
.highlightBox, .headlinehighlight, .highlight, .homebox, .icapsr, .icapmr, .icaplr, .icapsl, .icapml, .icapll {background-color: #EBF3F6;}
.l {color:#FFF; background-color:#3D626D;}
.l, .l a, .l a:hover, .l a:active, .l a:focus, .l h1, .l h2, .l p, .l li.first, .l acronym, .l .exec, .l .comm {color: #FFF;}
.l ul {background:none; list-style:none}
.l ul li {border-color: #FFF;}
.l ul.arrow li, .l ul.listarrow li {background-image: url(../images/2005furniture/bluegreen/whitearrow.gif);} #closeIE5hack {}
.l ul.arrow a, .l ul.listarrow a, .l ul.arrow a:hover, .l ul.listarrow a:hover, .l ul.arrow a:active, .l ul.listarrow a:active {color:#FFF; font-weight:normal;}
.l #q { border-color:#D4D0C8;}
.n ul {border-bottom-color : #EBF3F6; }
.n ul li {color:#3D626D; background-image: url(../images/2005furniture/bluegreen/square.gif); }
.n ul li ul li {background-image:url(../images/2005furniture/bluegreen/smallsquare.gif) ;}
.n .selected {background-color: #EBF3F6;}
.n ul.listhighlight li.selected {border-color:#3D626D;}
.n .selectExpanded div/*, .sortableDesc*/ {background-image: url(../images/2005furniture/bluegreen/arrow-down.gif)}
.n .selectCollapsed div/*, .sortable*/ {background-image: url(../images/2005furniture/bluegreen/arrow.gif) }
.n .selectExpanded ul {border-bottom-color:#EBF3F6;}
.query {color : red;}
.realbanner {background-image: url(/images/2005furniture/bluegreen/printbanner.gif);}
.t a { color:#3D626D }
.t a:hover { color:#222 }
dl.dlpretty {border-bottom-color:#3D626D;}
dl.dlpretty dd, dl.dlpretty dt {border-top-color:#EBF3F6;}
dl.dlpretty dd.first, dl.dlpretty dt.first {background-color:#EBF3F6; border-top-color:#378CA8; }
h2.headlineinverted, h3.headlineinverted {color: #FFF; background-color:#378CA8;}
p.headlinekeymessage, p.headlinekeymessage a, p.headlinekeymessage strong {color : #378CA8;}
table thead, table th, table tfoot {background-color:#EBF3F6; border-color:#378CA8;}
table.tablenumrow td, table.tablealpharow td  {border-top-color: #EBF3F6;}
table.tablealphacolumn td, table.tablenumcolumn td {border-right-color:#EBF3F6;}
table.tablealphagrid td, table.tablenumgrid td {border-color:#9BC5D3;}
table.tablealphacolumn, table.tablenumcolumn, table.tablenumrow, table.tablealpharow {border-color:#9BC5D3;}/*21.05.07*/
ul.advertlist img {border-color:#EBF3F6; }
ul.advertlist li:hover, ul.advertlist a:hover { background-color:#EBF3F6; }
ul.arrow li, ul.listarrow li, ul.listarrowlong li, .feed ul li {background-image: url(../images/2005furniture/bluegreen/arrow.gif);}
ul.arrow li a, ul.listarrow li a{ color: #222;}
ul.arrow li a:hover, ul.arrow li a:active, ul.arrow li a:focus, ul.listarrow li a:hover, ul.listarrow li a:active, ul.listarrow li a:focus, ul.listarrowlong li a:hover, ul.listarrowlong li a:active, ul.listarrowlong li a:focus {color: #3D626D;}
ul.az li { border-color:#3D626D; }
ul.az li a { background-color:#EBF3F6; color: #3D626D;}
ul.az li a:hover, ul.az li a:active, ul.az li a:focus { background-color:#FFF; color: #222; border-color: #3D626D }
ul.linklist li, ul.newwindow li {background-image: url(../images/2005furniture/bluegreen/newwindow.gif);}
ul.listarrowlong li a { color: #000; }
ul.listhighlight li, ul.listimgflow li, ul.listql li {background-color : #EBF3F6;}
ul.listhighlight strong, ul.listql strong {color : #3D626D;}
ul.listtick li, ul.tick li {background-image: url(../images/2005furniture/bluegreen/tick.gif);}
ul.listcross li, ul.cross li {background-image: url(../images/2005furniture/bluegreen/cross.gif);}
ul.listexclaim li {background-image: url(../images/2005furniture/bluegreen/exclaim.gif);}
ul.hottopics {border-top-color: #EBF3F6;}
ul.hottopics li a {border-bottom-color: #EBF3F6;}
ul.hottopics li a:hover, ul.hottopics li a:active, ul.hottopics li a:focus {background-color: #EBF3F6;}
div.b1, div.b2, div.b3, div.b4 {background-color:#EBF3F6; }
.feed ul li span.rss-date {color:#666;}
/* Drop downs menus styles */ 
.industry {background-color:#ECF8FF; border-color:#007EAD;}
.industry h2 label {color:#0068A6;}
.industry input {background-color:#007EAD; border-color:#0068A6; color:#ECF8FF;}
.topic {background-color:#F2F7EB; border-color:#7FB539;}
.topic h2 label {color:#008C44;}
.topic input {background-color:#7FB539; border-color:#008C44; color:#FFF;}
